.venv/
.pytest_cache/
__pycache__/
*py[cod]

## Variables y credenciales ignoaradas en 09-advanced-security

examples/09-advanced-security/signed-receipts/keys/*
!examples/09-advanced-security/signed-receipts/keys/.gitkeep